#wrapper {

}

#wrapper #header {
  height: 127px;
}

#wrapper #header #header-inner {
  width: 960px;
  margin: 0 auto;
  height: 127px;
}

#wrapper #container {
  padding-top: 30px;
  width: 960px;
  margin: 0 auto 20px;
}

#wrapper #container #main.with-sidebar {
  width: 680px;
  float: left;
}

#wrapper #container #sidebar {
  width: 250px;
  float: right;
}

#footer #footer-inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#footer #footer-region-second {
  float: left;
  width: 100%;
  margin-right: -100%;
}

#footer #footer-region-second #footer-region-second-inner {
  margin: 0 330px;
}

#footer #footer-region-first {
  float: left;
  width: 300px;
}

#footer #footer-region-third {
  float: right;
  width: 300px;
  padding-bottom: 90px;
}