/********************************************************************/
/*****************************GENERAL********************************/
/********************************************************************/

body {
	margin: 0;
	padding: 0;
	background: #f5f3e3;
	font: 0.8em/160% Verdana,sans-serif;
	color: #272723;
}

input {
	font: 0.8em Verdana, sans-serif;
	color: #494949;
}

textarea,
select {
	font: 12px Verdana, sans-serif;
	color: #494949;
}

h1,h2,h3,
h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Verdana, sans-serif;
}

h1 {
	font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
	line-height: 130%;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

code,
fieldset {
	margin: .5em 0;
}

p {
	margin: 0.6em 0 1.2em;
	padding: 0;
}

a,
a:link,
a:visited {
	color: #5895BE;
	text-decoration: none;
}

#sidebar a,
#sidebar a:link,
#sidebar a:visited {
  color: #365e6a;
}

a:hover {
	color: #0062A0;
	text-decoration: underline;
}

a:active,
a.active,
li a.active{
	color: #5895be;
	outline: none;
  text-decoration: underline;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294c1;
}

#sidebar .block ul li,
#sidebar .block ul li.leaf,
#sidebar .block ul li.expanded,
#sidebar .block ul li.collapsed,
.node .content ul li,
.node-similar .item-list li {
  list-style: none;
	background: url(../images/li.png) no-repeat left top;
  margin: 0;
  padding-left: 35px;
}

#sidebar .block ul li:hover,
#sidebar .block ul li.leaf:hover,
#sidebar .block ul li.expanded:hover,
#sidebar .block ul li.collapsed:hover,
.node .content ul li:hover,
#sidebar .block ul li.active,
#sidebar .block ul li.leaf.active,
#sidebar .block ul li.expanded.active,
#sidebar .block ul li.collapsed.active,
.node .content ul li.active {
	background: url(../images/li-active.png) no-repeat left top;
}

ol {
	list-style-image: none;
}

ul {
  padding-left: 10px;
}

#sidebar .block ul li,
#sidebar .block ul li.leaf,
#sidebar .block ul li.expanded,
#sidebar .block ul li.collapsed,
.node .content ul li {
	margin: 0;
	padding: 0 0 5px 35px;
}

.item-list ul li {
  margin: 0;
}

ul li.leaf a,
ul li.expanded a,
ul li.collapsed a {
	display: block;
}

ul.inline li {
	background: none;
	margin: 0;
	padding: 0 1em 0 0; 
}

dl {
	margin: 0.5em 0 1em 1.5em;
}

dl dt {

}

dl dd {
	margin: 0 0 .5em 1.5em;
}

img,
a img {
	border: none;
}

table {
	margin: 1em 0;
	width: 100%;
}

span.form-required {
	color: #ffae00;
}

.submitted, .description,
.vertical-tab-button .summary {
	font-size: 0.92em;
	color: #898989;
}

.description .more-help-link {
	font-size: 0.92em;
}

.description {
	line-height: 150%;
	margin-bottom: 0.75em;
	color: #898989;
}

.preview {
	margin: .75em 0 .75em;
	padding: .5em 1em;
}

.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item {
	margin: 0.25em 0;
}

.form-actions {
	margin: 2em 0 1em;
}

.form-button,
.form-submit {
	margin: 0 0.5em 0 0; 
}

.form-text {
  background: #fbfbfb;
  height: 16px;
  padding: 2px;
  font-size: 11px;
  color: #6A6960;
  border: 1px solid #c8c8c8;
}

.form-textarea {
  background: #fbfbfb;
  padding: 2px;
  font-size: 11px;
  color: #6A6960;
  border: 1px solid #c8c8c8;
}

.clearfix {
	clear: both;
}

.clear {
  clear: both;
}

/********************************************************************/
/*****************************HEADER*********************************/
/********************************************************************/

#header {
  background: url(../images/header.png) repeat-x left top;
  border-bottom: 4px solid #deedb1;
  position: relative;
}

#header #header-inner {
  position: relative;
}

#header #logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 2;
}

#header #site-name {
  background: url(../images/sitename.png) no-repeat scroll left top transparent;
  height: 43px;
  left: 160px;
  overflow: hidden;
  position: absolute;
  text-indent: 9999px;
  top: 25px;
  width: 276px;
}

#header #site-slogan {
  position: absolute;
  top: 65px;
  left: 160px;
  color: white;
  text-shadow: -1px 2px 2px #000000;
}

#header #site-slogan:hover {
  text-decoration: none;
}

#header #top-menu {
  background: none repeat scroll 0 0 #393932;
  border-bottom: 2px solid #9CCEEA;
  border-top: 2px solid #9CCEEA;
  border-right: 2px solid #9CCEEA;
  bottom: 1px;
  height: 36px;
  left: 125px;
  padding-left: 30px;
  position: absolute;
  width: 805px;
  z-index: 1;
  overflow: hidden;
  border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
}

#header #top-menu ul {
  padding: 0;
  margin: 0;
}

#header #top-menu ul li {
  float: left;
  list-style: none;
  list-style-image: none;
  line-height: 12px;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

#header #top-menu ul li .menu-left {
  background: url(../images/main_link.png) no-repeat left top;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  z-index: 0;
}

#header #top-menu ul li .menu-center {
  background: url(../images/main_link.png) no-repeat center top;
  height: 36px;
  position: absolute;
  left: 22px;
  right: 22px;
  top: 0;
  z-index: 0;
}

#header #top-menu ul li .menu-right {
  background: url(../images/main_link.png) no-repeat right top;
  height: 36px;
  position: absolute;
  right: 0;
  width: 22px;
  top: 0;
  z-index: 0;
}

#header #top-menu ul li.active .menu-left,
#header #top-menu ul li:hover .menu-left {
  background-position: left -38px;
}

#header #top-menu ul li.active .menu-right,
#header #top-menu ul li:hover .menu-right {
  background-position: right -38px;
}

#header #top-menu ul li.active .menu-center,
#header #top-menu ul li:hover .menu-center {
  background-position: center -38px;
}

#header #top-menu ul li a {
  color: white;
  display: block;
  padding: 17px 27px 8px;
  position: relative;
  z-index: 1;
  font-size: 13px;
}

#header #top-menu ul li a.active,
#header #top-menu ul li a:hover {
  text-decoration: none;
}

#header .region-header {
  position:absolute;
  left: 450px;
  top: 28px;
}

#header .region-header form .form-item {
  margin: 0;
  display: inline-block;
}

#header .region-header form .form-item .form-text {
  width: 275px;
  background: url(../images/input.png) repeat-x left top;
}

#header .region-header form .form-actions {
  display: inline-block;
  position: relative;
  left: -16px;
  top: 3px;
}

#header .region-header form .button input {
  padding-left: 30px;
}

#header .region-header form .spic {
  background: url(../images/search.png) no-repeat scroll 0 0 transparent;
  height: 36px;
  left: 3px;
  position: absolute;
  top: -2px;
  width: 30px;
  z-index: 5;
}

#header .user-login {
  background: url("../images/user-login-button.png") no-repeat scroll 0 0 transparent;
  color: white;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 22px;
  padding-left: 20px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 10px;
  width: 74px;
}

/********************************************************************/
/*****************************FOOTER MENU****************************/
/********************************************************************/

#footer-menu {
  background: #3b3a33;
  border-bottom: 1px solid #7b7a72;
}

#footer-menu #footer-menu-inner {
  width: 960px;
  margin: 0 auto;
}

#footer-menu ul {
  margin: 0;
  height: 23px;
  padding: 6px 0;
}

#footer-menu ul li {
  float: left;
  height: 23px;
  line-height: 21px;
  list-style: none outside none;
  margin-right: 10px;
  padding: 0;
  position: relative;
  vertical-align: top;
}

#footer-menu ul li .menu-left {
  background: url(../images/menu-footer.png) no-repeat left top;
  position: absolute;
  left: 0;
  top: 0;
  height: 23px;
  width: 12px;
  z-index: 0;
}

#footer-menu ul li.active .menu-left,
#footer-menu ul li:hover .menu-left {
  background-position: left -23px;
}

#footer-menu ul li .menu-center {
  background: url(../images/menu-footer.png) no-repeat center top;
  position: absolute;
  left: 12px;
  right: 12px;
  top: 0;
  height: 23px;
  z-index: 0;
}

#footer-menu ul li.active .menu-center,
#footer-menu ul li:hover .menu-center {
  background-position: center -23px;
}

#footer-menu ul li .menu-right {
  background: url(../images/menu-footer.png) no-repeat right top;
  position: absolute;
  right: 0;
  top: 0;
  height: 23px;
  width: 12px;
  z-index: 0;
}

#footer-menu ul li.active .menu-right,
#footer-menu ul li:hover .menu-right {
  background-position: right -23px;
}

#footer-menu ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 5px 15px;
}

/********************************************************************/
/*****************************FOOTER*********************************/
/********************************************************************/

#footer {
  color: white;
  background: #292825;
  padding-top: 10px;
  font-size: 11px;
}

#footer h3.title {
  border-bottom: 1px solid #3D3C37;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px 0;
}

#footer a {
  color: #58aedb;
}

#footer .content {
  padding: 10px;
  border: 1px solid #61615d;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#footer .content ul {
  margin: 0;
}

#footer .content ul li {
  padding: 10px 15px;
  list-style: none;
  border-bottom: 1px solid #32312e;
}

#footer .content ul li.odd {
  background: #2d2c29;
}

#footer .region-footer .content {
  border: none;
  color: #949493;
}

#footer .block-statistics .content {
  padding: 0;
}

#footer .block-statistics .content h3 {
  color: #58aedb;
  padding: 10px;
}

#footer .block-statistics .content a {
  color: white;
}

#footer #counter {
  background: url("../images/footer-counter.png") repeat scroll 0 0 transparent;
  bottom: 0;
  float: right;
  height: 112px;
  padding-left: 46px;
  padding-top: 53px;
  position: absolute;
  right: 0;
  width: 124px;
}

#footer .content-footer {
  padding: 10px;
}

/********************************************************************/
/*****************************NODE***********************************/
/********************************************************************/

.node {
  border: 1px solid #e3e2d8;
  background: #f9f8ef;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 3px 7px 7px -7px;
}

.node h2.title {
  margin-bottom: 10px;
  background: url(../images/node-other.png) no-repeat left top;
  padding: 4px 0 4px 30px;
}

.node h2.title,
.node h2.title a {
  color: #16547b;
  vertical-align: top;
}

.node h2.title a.additional {
  color: #87a911;
}

.node h2.title.design {
  background-image: url(../images/node-design.png);
}

.node h2.title.design a.additional {
  color: #2b98d5;
}

.node h2.title.lesson {
  background-image: url(../images/node-lesson.png);
}

.node h2.title.lesson a.additional {
  color: #b68716;
}

.node h2.title .arrow {
  background: url(../images/node-arrow.png) no-repeat scroll center center transparent;
  display: inline-block;
  height: 7px;
  padding: 0 10px;
  vertical-align: middle;
  width: 27px;
}

.node .field-name-field-lesson-image,
.node .field-name-field-blog-image {
  float: left;
  margin: 0 15px 0 0;
}

.node img {
  border-color: #CCCCCC #C1C1C1 #C1C1C1 #CCCCCC;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 4px #C9C9C9;
}

.node .bottom {

}

.node .bottom ul {
  padding: 0;
  margin: 0;
}

.node .bottom ul li {
  float: left;
  list-style: none;
  margin-right: 20px;
  line-height: 26px;
  font-size: 11px;
  color: #6A6960;
  height: 20px;
}

.node .bottom ul li .name {
  background: url(../images/node-author.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 15px;
}

.node .bottom ul li .date {
  background: url(../images/node-created.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 19px;
}

.node .bottom ul li .view {
  background: url(../images/node-viewes.png) no-repeat left 8px;
  display: block;
  height: 20px;
  padding-left: 20px;
}

.node .bottom ul li .comments {
  background: url(../images/node-comments.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 24px;
}

.node .bottom ul li .readmore {
  background: url(../images/node-readmore.png) no-repeat right bottom;
  display: block;
  height: 20px;
  padding-right: 20px;
}

.node .bottom-links {
  float: left;
}

.node .bottom .bottom-right-links {
  float: right;
}

.node .bottom .bottom-right-links .tags {
  padding-left: 27px;
  background: url(../images/node-tags.png) no-repeat left 6px;
  display: table;
}

.node .bottom .bottom-right-links li {
  margin-right: 0;
  margin-left: 20px;
}

.node .bottom .bottom-right-links .tags li {
  margin-left: 0;
  margin-right: 10px;
}

.social-links {
  background: #f7f5e8;
  border: 1px solid #e3e2d8;
  color: #6A6960;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  line-height: 32px;
  box-shadow: 3px 7px 7px -7px;
}

.social-links .addthis_toolbox {
  float: right;
  margin-right: 15px;
}

.node-navigation {
  padding: 30px 0;
}

.node-navigation .node-prev {
  float: left;
  width: 220px;
  text-align: left;
}

.node-navigation .node-next {
  float: right;
  width: 220px;
  text-align: right;
}

.node-navigation .nav {
  background: url(../images/node-navigation.png) no-repeat center center;
  margin: 10px 240px 0;
  text-align: center;
  font-size: 16px;
  color: #47463f;
}

.node-similar {
  background: url(../images/node-similar.png) repeat-x bottom #fcfbf1;
  border: 1px solid #92c8e9;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 7px 7px -7px;
}

.node-similar h3 {
  background: url("../images/block-title.png") no-repeat scroll left bottom transparent;
  color: #3A7C94;
  font-size: 1.2em;
  padding: 8px 4px 8px 20px;
}

.node-similar .item-list li {
  background-position: 10px 7px;
  padding: 7px 5px 7px 46px;
}

.node-similar .item-list li.even {
  background-color: #F4F2E5;
}

.node-similar .item-list li:hover {
	background-image: url(../images/li-active.png);
}

/********************************************************************/
/*****************************COMMENTS*******************************/
/********************************************************************/

#comments h2.title {
  background: url("../images/comment-title.png") no-repeat scroll left top transparent;
  border-bottom: 1px solid #D0DE97;
  color: #16547B;
  font-size: 16px;
  height: 30px;
  line-height: 40px;
  margin-bottom: 15px;
  padding: 6px 100px 5px 65px;
  width: 100px;
}

#comments h2.title.comment-form {
  background-image: url("../images/comment-form-title.png");
  margin-bottom: 0;
}

.comment {
  background: #fcfbf1;
  border: 1px solid #e3e2d8;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 3px 7px 7px -7px;
}

.comment.even {
  border-color: #bdd6db;
  /*background: none;*/
}

.comment .comment-picture {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: center;
}

.comment .comment-right {
  margin-left: 125px;
}

.comment .comment-author {
  background: url(../images/comment-author.png) no-repeat left top;
  color: #6a6960;
  font-size: 11px;
  padding-left: 15px;
  padding-top: 2px;
}

.comment .comment-author .username {
  color: #365e6a;
}

.comment .comment-created {
  background: url(../images/comment-created.png) no-repeat left center;
  padding-left: 18px;
  float: left;
  color: #6a6960;
  font-size: 11px;
}

.comment .comment-permalink {
  background: url("../images/comment-counter.png") no-repeat scroll 0 0 transparent;
  float: right;
  font-size: 10px;
  height: 22px;
  line-height: 22px;
  padding-right: 1px;
  position: relative;
  right: -16px;
  text-align: center;
  top: -11px;
  width: 29px;
}

.comment .comment-links {
  float: right;
  font-size: 11px;
}

.comment .comment-links li {
  float: left;
  list-style: none;
  height: 20px;
}

.comment .comment-links li.comment-reply {
  background: url(../images/comment-reply.png) no-repeat left center;
  padding-left: 25px;
}

/********************************************************************/
/*****************************COMMENT FORM***************************/
/********************************************************************/

form.comment-form {
  background: #f9f8ef;
  padding: 10px 25px;
  border: 1px solid #d0de97;
  border-radius: 0 15px 15px 15px;
  -moz-border-radius: 0 15px 15px 15px;
  -webkit-border-radius: 0 15px 15px 15px;
  position: relative;
  top: -1px;
  box-shadow: 3px 7px 7px -7px;
}

#comments form.comment-form {
  margin-left: 25px;
}

form.comment-form .form-actions {
  margin: 0;
}

form.comment-form label {
  color: #47463F;
  font-weight: normal;
}

form.comment-form .form-actions .captcha {
  float: left;
  padding-top: 10px;
  width: 300px;
}

form.comment-form .form-actions .captcha .form-item {
  margin: 0;
}

form.comment-form .form-actions .captcha label {
  float: left;
  margin-right: 10px;
}

form.comment-form .form-actions .captcha label .form-required {
  display: none;
}

.captcha .ascii_art_captcha {
  font-size: 0.3em !important;
  line-height: 0.6em  !important;
}

.captcha .description {
  display: none;
}

form.comment-form .form-actions span.button {
  margin-bottom: 0;
  margin-top: 1em;
  float: right;
}

form.comment-form.anonymous .form-actions span.button {
  margin-top: 2.5em;
}

form.comment-form .field-name-field-comment-reply-notification {
  float: left;
  color: #47463f;
}

form.comment-form .form-item-field-comment-reply-notification-und {
  margin-bottom: 0;
}

form.comment-form .form-item-name label {
  background: url(../images/comment-form-author.png) no-repeat left center;
  padding-left: 24px;
}

form.comment-form .form-type-textarea label {
  font-weight: normal;
  color: #47463f;
  background: url(../images/comment-form-textarea.png) no-repeat left center;
  padding-left: 28px;
}

form.comment-form fieldset {
  border: none;
  padding: 0;
}

form.comment-form #edit-author--2 label {
  background: url(../images/comment-form-author.png) no-repeat left center;
  padding-left: 28px;
  display: inline;
}

/********************************************************************/
/*****************************PAGE TITLE*****************************/
/********************************************************************/

h1 {
  margin-bottom: 10px;
  background: url(../images/node-other.png) no-repeat left top;
  padding: 4px 0 5px 30px;
}

h1,
h1 a {
  color: #16547b;
  vertical-align: top;
}

h1 a.additional {
  color: #87a911;
}

h1.design {
  background-image: url(../images/node-design.png);
}

h1.design a.additional {
  color: #2b98d5;
}

h1.lesson {
  background-image: url(../images/node-lesson.png);
}

h1.lesson a.additional {
  color: #b68716;
}

h1 .arrow {
  background: url(../images/node-arrow.png) no-repeat scroll center center transparent;
  display: inline-block;
  height: 7px;
  padding: 0 10px;
  vertical-align: middle;
  width: 27px;
}

/********************************************************************/
/*****************************BLOCK**********************************/
/********************************************************************/

#sidebar {
  font-size: 0.85em;
}

#sidebar .block {
  border: 1px solid #92c8e9;
  background: #fcfbf1;
  margin-bottom: 30px;
  position: relative;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 3px 7px 7px -7px;
}

#sidebar .block .icon {
  background: url(../images/block-default.png) no-repeat left top;
  position: absolute;
  left: -20px;
  top: -20px;
  height: 63px;
  width: 57px;
}

#sidebar #block-views-questions-block-1 .icon {
  background: url(../images/block-questions.png) no-repeat left top;
}

#sidebar .block h3.title {
  background: url(../images/block-title.png) no-repeat left bottom;
  padding: 8px 4px 8px 45px;
  color: #3a7c94;
  font-size: 1.3em;
}

#sidebar .block .content {
  padding: 12px;
}

#sidebar .block .content .item-list ul {
  margin: 0;
}

#sidebar .block-views .content {
  padding: 0;
}

#sidebar .block-views .content ul {
  padding: 0 0 10px;
}

#sidebar .block-views .content .views-row {
  background-position: 10px 7px;
  padding: 7px 5px 7px 46px;
}

#sidebar .block-views .content .views-row-even {
  background-color: #f4f2e5;
}

#sidebar .block-views .view-questions .views-row {
  background-image: url(../images/questions-li.png);
}

#sidebar .block-views .view-questions .views-row.active,
#sidebar .block-views .view-questions .views-row:hover {
  background-image: url(../images/questions-li-active.png);
}

#sidebar .block-cumulus .icon {
  background-image: url(../images/block-tags.png);
}

#sidebar #block-views-last-comments-block .icon {
  background: url(../images/block-comments.png) no-repeat left top;
}

/********************************************************************/
/*****************************TABLES*********************************/
/********************************************************************/

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: separate;
  border: 1px solid #92C8E9;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

table td,
table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
  font-size: 0.85em;
}

table th {
  border-top: none;
  background: #fcfbf1;
}

table td:first-child,
table th:first-child {
  border-left: none;
}

table th:first-child {
  -moz-border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  border-radius: 15px 0 0 0;
}

table th:last-child {
  -moz-border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
  border-radius: 0 15px 0 0;
}

table tbody tr,
table tbody tr.odd {
  background: #fcfbf1;
}

table tbody tr.even {
  background: #f4f2e5;
}

table tbody tr:hover,
table tbody tr.even:hover,
table tbody tr.odd:hover {
  background: #fbf8e9;
}

table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 15px;
  -webkit-border-radius: 0 0 0 15px;
  border-radius: 0 0 0 15px;
}

table tr:last-child td:last-child {
  -moz-border-radius: 0 0 15px 0;
  -webkit-border-radius: 0 0 15px 0;
  border-radius: 0 0 15px 0;
}

table td.active {
  background-color: #F4F2E5;
}

/********************************************************************/
/*****************************TABS***********************************/
/********************************************************************/

ul.tabs {
  display: table;
  width: 100%;
  clear: both;
  border-bottom: 1px solid #d0de97;
}

ul.tabs li {
  float: left;
  line-height: 28px;
}

ul.tabs li a {
  background: url(../images/tabs-inactive.png);
  height: 28px;
  display: inline-block;
  border-left: 1px solid #d0de97;
  border-right: 1px solid #d0de97;
  border-top: 1px solid #d0de97;
  border-bottom: none;
  line-height: 28px;
  border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
}

ul.tabs li a.active,
ul.tabs li a.active:hover,
ul.tabs li a:hover {
  background-image: url(../images/tabs-active.png);
  border-left: 1px solid #d0de97;
  border-right: 1px solid #d0de97;
  border-top: 1px solid #d0de97;
  border-bottom: none;
}

ul.tabs li a.active:hover {
  color: #365E6A;
}

/********************************************************************/
/*****************************PAGER**********************************/
/********************************************************************/

.item-list .pager {
  margin-bottom: 20px;
  position: relative;
}

.item-list .pager .pager-item a {
  text-decoration: none;
  font-size: 16px;
  color: #292825;
}

.item-list .pager .pager-item a:hover {
  text-decoration: underline;
}

.item-list .pager .pager-current {
  color: #3a7ba1;
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}

.item-list .pager .pager-previous a {
  background: url(../images/pager-prev.png) no-repeat center center;
  width: 30px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.item-list .pager .pager-first a {
  background: url(../images/pager-first.png) no-repeat center center;
  width: 43px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.item-list .pager .pager-next a {
  background: url(../images/pager-next.png) no-repeat center center;
  width: 30px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.item-list .pager .pager-last a {
  background: url(../images/pager-last.png) no-repeat center center;
  width: 43px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

/********************************************************************/
/*****************************BUTTONS********************************/
/********************************************************************/

.button {
  display: inline-block;
  position: relative;
  z-index: 3;
  height: 31px;
}

.button .button-left {
  background: url(../images/button.png) no-repeat left top;
  height: 31px;
  width: 12px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.button .button-center {
  background: url(../images/button.png) no-repeat center top;
  height: 31px;
  position: absolute;
  left: 12px;
  right: 12px;
  top: 0;
  z-index: 0;
}

.button .button-right {
  background: url(../images/button.png) no-repeat right top;
  height: 31px;
  width: 12px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.button input {
  background: none;
  border: none;
  height: 31px;
  padding: 0 20px 6px;
  margin: 0;
  cursor: pointer;
  color: white;
  position: relative;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  text-transform: lowercase;
}

/********************************************************************/
/************************ROUNDED CORNERS*****************************/
/********************************************************************/

#main .outer .node {
  margin-bottom: 0;
}

#main .outer {
  margin-bottom: 20px;
  background: #E3E2D8;
}

#sidebar .outer .block {
  margin-bottom: 0;
}

#sidebar .outer {
  margin-bottom: 30px;
  background: #92C8E9;
}

#footer .outer .content {
  background: #292825;
}

#footer .outer {
  background: #61615D;
}

#comments .outer {
  margin-bottom: 15px;
}

#comments .outer .comment  {
  margin-bottom: 0;
}

/********************************************************************/
/***************************USER LOGIN BLOCK*************************/
/********************************************************************/

#block-user-login {
  padding: 0;
}

#block-user-login label {
  font-size: 11px;
  color: #267bb0;
}

#block-user-login .item-list {
  float: left;
  width: 120px;
}

#block-user-login .item-list ul li {
  list-style: none;
  height: 16px;
}

#block-user-login .item-list ul li.first {
  background: url(../images/block-login-register.png) no-repeat left bottom;
  padding-left: 18px;
}

#block-user-login .item-list ul li a {
  font-size: 11px;
  color: #267bb0;
  display: block;
}

#block-user-login input.form-text {
  background: url("../images/input.png") repeat-x scroll left top transparent;
}

#block-user-login .form-actions {
  margin: 0;
  padding-top: 5px;
  float: right;
}

#block-user-login .icon {
  background: url("../images/block-login.png") no-repeat scroll 0 0 transparent;
  height: 63px;
  left: -32px;
  position: absolute;
  top: -75px;
  width: 57px;
  z-index: 10005;
}

#block-user-login .form-item {
  padding-left: 40px;
}

.ui-dialog {
  border: 1px solid #92c8e9;
  padding: 10px;
  width: 220px !important;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: visible;
  box-shadow: 3px 7px 7px -7px;
  background: #fcfbf1;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-dialog-title {
  background: url("../images/block-title.png") no-repeat scroll left bottom transparent;
  color: #3A7C94;
  font-size: 1.1em;
  font-weight: normal;
  padding: 0 4px 8px 35px;
}

.ui-widget-header .ui-icon {
  background: url(../images/close.png) no-repeat;
  width:23px;
  height:23px;
}

.ui-dialog .ui-dialog-content {
  overflow: visible;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  height: 23px;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 23px;
}

.ui-dialog .ui-state-hover {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

/********************************************************************/
/***************************FILTERS**********************************/
/********************************************************************/

.geshifilter pre,
.geshifilter-drupal6 {
  font-size: 12px;
}

.view-last-comments .views-field-created {
  color: #9e9e8a;
  font-size: 10px;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.views-submit-button {
  margin-top: 1.6em;
}

.view-questions .more-link {
  padding: 0 10px 5px 0;
}

/********************************************************************/
/***************************OTHER************************************/
/********************************************************************/

.tweetmeme-button {
  padding-left: 15px;
}